/* media */
@media screen and (max-width: 1200px) {
	section, .navbar {
		width: 100%;
	}
}
@media screen and (max-width: 980px) {
	.menu {
		width: 272px;
		right: -272px;
		transform: translateX(-272px);
	}
	.desktop_menu ul li a {
		font-size: 18px;
	}
	.hidden {
		transform: translateX(0);
	}
	.button {
		padding: 0 10px;
	}
}
@media screen and (max-width: 780px) {   
	.col-4 { width: 100%; }
	.col-8 { width: 100%; }
	.desktop_menu {
		display: none;
	}
	.dimmed {
		display: block;
	}
	.mobile_menu {
		display: block;
	}
	footer .footer-info-wrap {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	[class*='col-'] {
	  	float: left;
	}
	section {
		padding: 0px 10px;
		width: 100%;
	}
	.col-4 { width: 100%; }
	.main-page-header {
		height: 200px;
	}
	.page-top .button {
		margin-top: 40px;
		width: 100%;
	}
	.post-preview {
		margin-bottom: 10px;
	}
	.main-post-author, .comment-author {
		width: 39%;
	}
	.main-post-date, .comment-date {
		width: 59%;
	}
	.main-post-controll {
		text-align: right;
	}
	.main-post-controll .post-views {
		left: 180px;
	}
	.comment-form .button {
		width: 100%;
	}
	.login-form {
		width: 100%;
	}
	.login-form .button, .signup-form .button, .signup-form form {
		width: 100%;
	}
	.navbar_buttons {
		display: none;
	}
	.navbar .menu .hidden_button {
		display: block;
	}
	.menu {
		top: 60px;
		width: 200px;
		right: -200px;
		transform: translateX(-200px);
	}
	.open_button {
		padding-right: 5px;
	}
	.hidden {
		transform: translateX(0);
	}
}






