.main-content {
	width: 100%;
	min-height: 100vh;
	padding: 20px 0px;
	height: auto;
	background-color: #eeeeee;
}
.divider {
	background-color: #1ca7ea;
	width: 100%;
	height: 5px;
	margin: 5px 0px;
}
.main-page-header {
	width: 100%;
	height: 200px;
	padding: 10px; 
	/*margin-bottom: 20px;*/
}
/* Post  preview */
.post-preview {
	width: 100%;
	height: auto;
	transition: .3s;
}
.post-preview:hover {
	/*box-shadow: 0px 0px 3px 1px #d4d4d5;*/
}
.post-preview-wrap {

}
.post-preview-info {
	padding: 20px 20px 15px 20px; 
}
.post-preview-info a {
	text-decoration: none;
	color: black;
}
.post-preview-info a:hover {
	text-decoration: underline;
}
.post-preview-header {
	border-bottom: 2px solid #cac9cd;
}
.post-preview-header h1 {
	font-size: 1.3em;
	position: relative;
	/*padding-right: 30px;*/
}
.post-preview-header h1 a {
	color: grey;
}
.post-bookmark {
	position: absolute;
	left: 0px;
	top: 15px;
}
.post-bookmark a {
	display: inline-block;
}
.post-info {
	width: 100%;
	height: 42px;
	position: relative;
	margin-bottom: 10px;
}
.post-date, .post-author {
	padding-top: 10px;
	width: auto;
	display: inline-block;
}
.post-author {
	margin-top: -15px;
}
.post-author a {
	display: inline-block;
	color: #1ca7ea;
}
.post-author a:hover .post-author-name {
	text-decoration: underline;
}
.post-author-name {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 45px; 	
}
.post-author-avatar {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-position: center;
	background-size: cover;
	background-color: #ffd232;
	background-image: url('../img/user.png');
	border-radius: 50%;
	position: absolute;
}
.post-date {
	color: grey;
	font-size: 14px;
	position: absolute;
	right: 0px;
	top: -4px;
}
.post-date span {
	/*margin-bottom: -5px;*/
	/*display: none;*/
}
.post-bookmark {
	position: absolute;
	left: 0px;
	top: 15px;
}
.post-bookmark a {
	display: inline-block;
}
.post-preview-text {
	padding: 15px 0px;
	border-bottom: 2px solid #cac9cd;
	line-height: 22px;
	color: #333;
}
.post-preview-controll {
	padding-top: 15px;
	text-align: right;
}
.post-like, .post-comment-icon, .comment-icon-count, .like-count {
	height: 25px;
	display: inline-block;
	color: grey;
}
.post-comment-icon { 
	margin-right: 20px;
}
.post-like {
	display: inline-block;
	height: 25px;
	cursor: pointer;
}
.like, .comment-icon {
	/*opacity: .5;*/
	transition: all .2s ease-in-out;
}
/*.post-like:hover .like {
	opacity: 1;
}*/
/*.post-comment-icon:hover .comment-icon {
	opacity: 1;
}*/
.post-comment-icon span { 
	height: 25px;
	margin-bottom: -8px;
}
.post-comment-icon a {
	display: inline-block;
	height: 25px;
}
.post-comment-icon a:hover {
	text-decoration: none;
}
.post-like span { 
	height: 25px;
	margin-bottom: -7px;
}

.post-preview-tags {
	width: 100%;
	padding: 10px 0px 20px 0px;
}
.tag {
	font-size: 16px;
	display: inline-block;
	min-width: 50px;
	padding: 0px 10px;
	height: 26px;
	text-align: center;
	line-height: 24px;
	color: #ff5722;
	border-radius: 4px;
	margin-right: 5px;
	/*background-color: #1abc9c;*/
	/*background-color: #1ca7ea;*/
	border: 2px solid #ff5722;
	background-color: transparent;
	transition: .2s ease-in-out;
}
.tag:hover {
	color: white;
	background-color: #ff5722;
}
.tag a {
	color: inherit;
	text-decoration: none;
}
.tag a:hover {
	text-decoration: none;
}
/* Post */

.post-wrap {
	background-color: white;
	margin-top: -20px;
}
.post {
	width: 100%;
	height: auto;
	padding: 20px;
}
.post-header {
	border-bottom: 2px solid #cac9cd;
	padding-bottom: 30px;
}
.post-header h1 {
	padding-top: 20px;
	font-size: 2.3em;
	color: grey;
}
.post-tags {
	width: 100%;
	padding-top: 10px;
}
.main-post-info {
	text-align: left;
}
.main-post-date, .main-post-author {
	width: auto;
	display: inline-block;
}
.main-post-date {
	text-align: right;
	color: grey;
}
.main-post-author a {
	color: #1ca7ea;
	text-decoration: none;
	height: 40px;
	display: inline-block;
	padding-right: 20px;
}
.main-post-author a:hover .main-post-author-name {
	text-decoration: underline;
} 
.main-post-author-avatar {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-position: center;
	background-size: cover;
	background-color: #ffd232;
	background-image: url('../img/user.png');
	border-radius: 50%;
	position: absolute;
}
.main-post-author-name {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 45px; 	
}
.author-info {
	padding-top: 10px;
	color: #b5b4b8;
}
.main-post-text {
	padding: 30px 0px;
	border-bottom: 2px solid #cac9cd;	
	line-height: 22px;
	color: #333;
}
.main-post-controll {
	position: relative;
	padding-top: 20px;
}
.main-post-controll .post-like {
	margin-left: 190px;
	/*cursor: pointer;*/

}

/*comments*/

.comment-form {
	padding: 20px;
	margin-top: 10px;
	/*display: none;*/
}
.comment-form textarea {
	width: 100%;
	border-radius: 4px;
	padding: 15px;
	outline: none;
	height: 100px;
}
.comment-form .button {
	margin-top: 15px;
}
.comment-form h3 {
	color: grey;
	margin-bottom: 15px;
}
.comment {
	padding: 20px;
}
.comment-info {
	text-align: left;
	border-bottom: 2px solid #cac9cd;
	padding-bottom: 15px;
	position: relative;
	text-align: left;
}
.comment-date, .comment-author {
	padding-top: 10px;
	width: auto;
	display: inline-block;
}
.comment-author {
	margin-top: -15px;
}
.comment-author a {
	display: inline-block;
	color: #1ca7ea;
	padding-right: 20px;
}
.comment-author a:hover .comment-author-name {
	text-decoration: underline;
}
.comment-author-name {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 45px; 	
}
.comment-author-avatar {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-position: center;
	background-size: cover;
	background-color: #ffd232;
	background-image: url('../img/user.png');
	border-radius: 50%;
	position: absolute;
}
.comment-date {
	color: grey;
	font-size: 14px;
	text-align: right;
}
.comment-text {
	padding-top: 12px;
	color: #333;
}

/*Signup form*/

.signup-form {
	width: 100%;
	margin: 10px auto;
	padding: 20px;
}
.signup-form form {
	width: 70%;
	margin: 0px auto;
}
.signup-form h1, .signup-form h3 {
	color: grey;
	margin-bottom: 20px;
}
.signup-form input {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	outline: none;
	border-radius: 4px;
	border: 1px solid grey;
	padding: 10px;
	font-size: 20px;
}
.signup-form textarea {
	width: 100%;
	border-radius: 4px;
	outline: none;
	height: 100px;
	margin-bottom: 20px;
}
.signup-form .signup-error {
	color: red;
	margin-top: 30px;
}

/*Login form*/

.login-form {
	width: 50%;
	margin: 10px auto;
	padding: 20px;
}
.login-form h1 {
	color: grey;
	margin-bottom: 20px;
}
.login-form input {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	outline: none;
	border-radius: 4px;
	border: 1px solid grey;
	padding: 10px;
	font-size: 20px;
}
.login-form .login-error {
	color: red;
	margin-top: 30px;
}

/*create post form*/

.create-post {
	padding: 20px;
}
.create-post h1, .create-post h3 {
	color: grey;
	margin-bottom: 20px;
}
.create-post input {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	outline: none;
	border-radius: 4px;
	border: 1px solid grey;
	padding: 10px;
	font-size: 20px;
}
.create-post textarea {
	width: 100%;
	border-radius: 4px;
	outline: none;
	height: 500px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 20px;
}
.create-post .post-creating-error {
	color: red;
	margin-top: 30px;
}
/*profile*/

.profile {
	
}
.profile h2 {
	color: grey;
}
.profile-header {
	
}
.profile-avatar {
	padding: 20px;
	min-height: 150px;
	height: auto;
}
.profile-info {
	padding: 20px;
	min-height: 150px;
	height: auto;
}
.profile-controll {
	height: auto;
	padding: 20px;
}
.profile-controll-button {
	margin-right: 10px;
}
.profile-content {
	padding: 20px;
	height: auto;
}

/*transition*/

.component-fade-enter-active, .component-fade-leave-active {
	transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-to {
	opacity: 0;
}